
#btn{
width: 130px;
height: 30px;
background-color:#008040;
font-size: 20px;
margin-left: 380px;
}
#Epass{
width:130px;
height:30px;
margin-left: 150px;
background-color:red;
font-size: 20px;
}

h1{
font-weight: bolder;
background-color: #bd0000;
color:#fff;
margin-left:-150px;
width: 330px;
align-items: right;
padding-left: -90px;
}
button {
	background-color:#ffbdde;
	width:80px;
    height:23px; 
    border-radius: 10px;
}
a{
	text-decoration: none;
}   